<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Task Helper W5i</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div class="container">

        <header>
            <h1>Task Helper W5i</h1>
            <p>Sistema de Atendimento</p>
        </header>

        <main>
            @RenderBody()
        </main>

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
