@page
@model CreatePrioridadeModel
@{
    Layout = "_Layout";
}
<div class="top-buttons">
    <a class="top-button" href="/">
        Voltar
    </a>
</div>
<h2>Cadastrar Prioridade</h2>

<form method="post" asp-page="/Create">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label>Nome:</label>
        <input type="text" asp-for="Prioridade.Nome" name="Prioridade.Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tempo Estimado (horas):</label>
        <input type="number" asp-for="Prioridade.TempoEstimadoHoras" min="1" name="Prioridade.TempoEstimadoHoras" class="form-control"/>
    </div>
    

    <button type="submit" class="btn-submit">Salvar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}