@page

@{
    Layout = "_Layout";
}

<a class="big-button" href="/Atendimento/Create">
    Iniciar Atendimento
</a>

<div class="small-buttons">
    <a class="small-button" href="/Setores/Create">
        Cadastrar Setor
    </a>

    <a class="small-button" href="/Prioridades/Create">
        Cadastrar Prioridade
    </a>
</div>